* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
footer {
    padding: 40px;
}
span {
    color: #000033;
    font-size: 20px;
    line-height: 20px;
    padding:30px 0px;
}
ul{
    list-style: none;
    padding-top: 20px;
}
ul li {
    font-size: 16px;
}
.footer_info_general {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction:row;
}

.footer_content {
    flex-direction: row;

}

.footer_redes{
    padding-top: 20px;
}

@media (min-width: 360px) and (max-width:760px) {
    span{
        margin-top: 20px !important;
    }
    ul li{
        line-height: 25px;
        font-size: 12px;
    }
    .footer_content {
        padding-top: 10px;
        width: 100%;
    }
    .premios {
        width: 80px;
    }
    .footer_paises{
        padding-top: 10px;
    }
    .redes {
        width: 20%;

    }
    .text_1{
        text-align: center;
    }
    .text_redes{
        text-align: center !important;
    }
    
}